<div class="container">

    <div class="mb-3">
        <div class="text-center pb-1">
            <h6 class="display-6">Histórico de estados por equipamento</h6>
        </div>
    </div>

    <div class="mb-3">
        <label for="cmbEquipamento" class="form-label">Equipamento</label>
        <select class="form-select pb-0" id="cmbEquipamento" name="cmbEquipamento" asp-items="@(new SelectList(string.Empty, "id", "nome"))">
        </select>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm" id="tblListaHistorico">
            <thead class="thead-light">
                <tr>
                    <th>
                        Estado
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/equipamento_estado_historico.js"></script>
}