@section scripts {
    <script src="~/js/crud_historico_posicoes_equipamento.js"></script>
}


<div class="container">

    <div class="mb-3">
        <div class="text-center pb-3">
            <h6 class="display-6">CRUD - Equipamento histórico posição</h6>
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary mb-3" id="btn-abrir-modal-posicao" name="btn-abrir-modal-posicao">Novo</button>

        <table class="table table-bordered table-hover table-sm" id="tblListaEquipamentoPosicao">
            <thead>
                <tr>
                    <th>
                        Equipamento
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- .modal -->
    <div class="modal fade" id="modal-criar-equipamento-posicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title text-center">Criar</h6>
                </div>

                <div class="modal-body">

                    <div class="mb-3">
                        <label for="cmbEquipamento" class="form-label">Equipamento</label>
                        <select class="form-select pb-0" id="cmbEquipamento" name="cmbEquipamento" asp-items="@(new SelectList(string.Empty, "id", "name"))">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn-criar-equipamento-posicao" name="btn-criar-equipamento-posicao">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>
            </div>
        </div>
    </div>

</div>
